.navbar-nav .nav-link {
    display: block;
    color: White;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 15px;
    white-space: nowrap;
    padding-right: 20px;
    padding-left: 20px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0 20px;
    }
}

@media (min-width: 786px) {
    .navbar-nav li a:hover {
        color: #FFF !important;
    }
}

@media (min-width: 786px) {
    .navbar-nav li a {
        text-transform: uppercase;
        padding: 12px 10px;
        display: block;
        color: #fff;
        font-size: 15px;
    }
}


@media (min-width: 786px) {
    .navbar-nav li.nav-item ul {
        position: absolute;
        width: 205px;
        background: #fff;
        z-index: 9999;
        top: 45px;
        display: none !important;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        -webkit-box-shadow: 0px 1px 5px 0px rgba(237, 28, 36, 1);
        -moz-box-shadow: 0px 1px 5px 0px rgba(237, 28, 36, 1);
        /* box-shadow: 0px 1px 5px 0px rgba(237,28,36,1); */
        border-top: 1px dashed #ef7579;
    }
}

@media (min-width: 786px) {
    .navbar-nav li.nav-item:hover>ul {
        display: block !important;
    }
}

@media (min-width: 786px) {
    .navbar-nav li.nav-item ul li a:hover {
        background: #fe0000;
    }
}

@media (min-width: 786px) {
    .navbar-nav li.arrow ul li {
        background: #fff;
    }
}

@media (min-width: 786px) {
    .navbar-nav>li:hover {
        background-color: #fe0000;
    }
}

@media (min-width: 786px) {
    .navbar-nav>li {
        float: left;
        position: relative;
    }
}

@media (min-width: 786px) {
    #n.navbar-nav li.nav-item:hover>ul {
        display: block !important;
    }
}

.clearfix .col-sm-9 {
    padding-left: 0px;
}

.clearfix .pd0 {
    padding-right: 0px;
}

a:link {
    text-decoration: none;
}

.row-hand {
    cursor: pointer;
}

@media (min-width: 1240px) {
    .container {
        max-width: 1240px;
    }
}

.m-1 {
    color: #808080 !important;
}

.clearfix {
    padding-bottom: 20px;
    padding-top: 20px;
}

.clearfix .container {
    padding-bottom: 20px;
}

.form-inline .border {
    border-radius: 25px;
}

.imgProduct {
    overflow: hidden;
    margin-top: 10px;
}

.imgCenter {
    position: relative;
}

.infoProduct .priceOld {
    line-height: 18px;
    margin-bottom: 0;
}

.infoProduct h6 {
    margin-bottom: 6px;
    margin-top: 12px;
}

.lineThrough {
    text-decoration: line-through;
}

.card-body {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
}

.col-sm-4 {
    margin-bottom: 20px;
}

.infoProduct .price {
    font-weight: 600;
    color: #FF0000;
    margin-bottom: 7px;
}

.infoProduct {
    text-align: center;
    text-transform: uppercase;
}

.order:hover {
    background: #FF0000;
    color: #fff !important;
    border: 1px solid #FF0000;
}

a:hover {
    color: #fff !important;
    text-decoration: none;
}

.order {
    width: 100px;
    height: 28px;
    line-height: 28px;
    margin: auto;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid #FF0000;
    border-radius: 5px;
    color: #FF0000;
}

/*----------------------------------------*/
.copy-right p {
    text-align: center;
    font-size: 12px;

}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #232323;
    line-height: 1.25em;
    background-color: #e8e8e8;
}

a:hover {
    text-decoration: none;
}

a:active,
a:hover,
a:focus {
    outline: 0 none;
    text-decoration: none
}


ul {
    list-style: outside none none;
    margin: 0;
    padding: 0
}

.newsletter {
    padding: 35px 0;
}

.news-desc h3 {
    color: #212121;
    font-size: 28px;
    font-weight: 800;
    margin: 0 0 15px;
    line-height: 1;
}

.news-desc p {
    color: #757575;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
}

.newsletter-box .subscribe {
    background: #fff none repeat scroll 0 0;
    border: 1 none;
    border-radius: 5px;
    color: #777;
    display: block;
    font-size: 14px;
    height: 50px;
    padding: 0 166px 0 20px;
    width: 100%;
    text-transform: capitalize;
}

.newsletter-box {
    position: relative;
}

.newsletter-box .submit {
    background: #212121 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0 5px 5px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: "Lato", sans-serif;
    color: #00FF80;
    font-size: 13px;
    font-weight: 900;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    -webkit-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
    cursor: pointer;
}

.newsletter-box .submit:hover {
    background: #FA5882;
}


h2.sectionTitle.prc {
    margin-bottom: 12px;
    margin-top: 0px;
}

.sectionTitle a,
.sectionTitle span {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    padding: 2px 25px 0px 25px;
    display: inline-block;
    background-color: #ED1C24;
    position: relative;
    background-image: url(../images/12.png);
}

.sectionTitle {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    clear: both;
    text-transform: uppercase;
    line-height: 38px;
    background-repeat: no-repeat;
    font-weight: 600;
    border-bottom: 2px solid #ef7579;
}

h2.sectionTitle a:after {
    content: '';
    width: 30px;
    height: 38px;
    position: absolute;
    right: -30px;
    background: url(../images/11.png);
}

/* footer top css */
.footer-top {
    padding-bottom: 20px;
}

.footer-title {
    color: #212121;
    font-size: 18px;
    font-weight: 600;
    line-height: 34px;
    margin: 0 0 15px;
    position: relative;
    text-transform: capitalize;
}

.footer-list li a {
    color: #212121;
    display: block;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    text-transform: capitalize;
}

.footer-list li {
    line-height: 31px;
}

.footer-list li a:hover {
    color: #E62E04;
}

.footer-list li a:hover:before {
    opacity: 0;
}

.footer-content p {
    font-size: 13px;
    line-height: 23px;
}

.footer-content h5 {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}

.footer-list li {
    text-transform: capitalize;
    transition: all 0.5s ease-in-out 0s;
}

/*----------------------------------------*/
.copy-right p {
    text-align: center;
    font-size: 12px;

}

a:hover {
    text-decoration: none;
}

a:active,
a:hover,
a:focus {
    outline: 0 none;
    text-decoration: none
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0
}

.newsletter {
    padding: 35px 0;
}

.news-desc h3 {
    color: #212121;
    font-size: 28px;
    font-weight: 800;
    margin: 0 0 15px;
    line-height: 1;
}

.news-desc p {
    color: #757575;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
}

.newsletter-box .subscribe {
    background: #fff none repeat scroll 0 0;
    border: 1 none;
    border-radius: 5px;
    color: #777;
    display: block;
    font-size: 14px;
    height: 50px;
    padding: 0 166px 0 20px;
    width: 100%;
    text-transform: capitalize;
}

.newsletter-box {
    position: relative;
}

.newsletter-box .submit {
    background: #212121 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0 5px 5px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: "Lato", sans-serif;
    color: #00FF80;
    font-size: 13px;
    font-weight: 900;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    -webkit-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
    cursor: pointer;
}

.newsletter-box .submit:hover {
    background: #FA5882;
}

/* footer top css */
.footer-top {
    padding-bottom: 20px;
}

.footer-title {
    color: #212121;
    font-size: 18px;
    font-weight: 600;
    line-height: 34px;
    margin: 0 0 15px;
    position: relative;
    text-transform: capitalize;
}

.footer-list li a {
    color: #212121;
    display: block;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    text-transform: capitalize;
}

.footer-list li {
    line-height: 31px;
}

.footer-list li a:hover {
    color: #E62E04;
}

.footer-list li a:hover:before {
    opacity: 0;
}

.footer-content p {
    font-size: 13px;
    line-height: 23px;
}

.footer-content h5 {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}

.footer-list li {
    text-transform: capitalize;
    transition: all 0.5s ease-in-out 0s;
}

.pd-30 {
    padding-bottom: 30px;
}

.bg-red {
    background-color: #ED1C24;
}

.container .colleft {
    width: 19%;
    float: left;
}

.container .colleft .filter {
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #fff;
    padding: 10px;
}

.container .colleft .filter .title {
    padding: 12px 7px 5px 7px;
    box-sizing: border-box;
    line-height: 16px;
    text-transform: uppercase;
    font-family: RobotoB;
    font-size: 16px;
}

.container .colleft .filter ul {
    padding: 10px 8px 0 8px;
    list-style: none;
    margin: 0;
}

.container .colleft .filter ul li {
    line-height: 21px;
    margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

a {
    color: #808080;
}

.container .colright {
    width: 79%;
    float: right;
}

.slider-2 {
    font-size: 35px;
    padding-top: 20px;
    font-weight: normal
}


.product-shop.not.on.sale {
    border: 1px dashed #ef7579;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 1px;
    border-color: #ED1C24;
}

table tr.trhead {
    background-color: #ED1C24;
    color: #ffffff;
    border: none;
    border: 1px solid #ED1C24;
}

table td {
    padding: 8px;
    border-top: 1px solid #ddd;
}

.toa-ft {
    width: 25%;
    float: left;
}

.h-100 {
    height: 100px!important;
    width: 100px!important;
}











