.button_cart {
    background: url(../images/buy.png) repeat-x;
    line-height: 28px;
    height: 32px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 10px;
}

th {
    text-align: center;
}

#yourcartdetails {
    margin: 10px;
    border-top: 1px solid #564d4d;
    border-bottom: 1px solid #564d4d;
    width: 98%;
}

.yourcartdetails_title {
    background-color: #EAEAEA;
    line-height: 30px;
    font-weight: 600
}

#yourcartdetails tr td {
    padding: 5px;
}

.yourcartdetails_all tr td {
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #564d4d
}

.yourcartdetails_all {
    width: 100%;
}

.cart_totla {
    border-right: 1px solid #564d4d;
    font-weight: 600;
    font-size: 14px;
    text-align: right
}

.cart_totla_price {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #FF0000
}

.buttondete {
    cursor: pointer;
}

.back_cart {
    float: right;
    background: url(../images/icon-more-cart.png) no-repeat right;
    padding-right: 15px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 12px;
    line-height: 3;
}

.info_cart_title_all td {
    border-bottom: 1px dotted #E1E1E1
}

.info_cart_title_all .textbox {
    border: 1px solid #EAEAEA;
    line-height: 30px;
    padding: 3px;
    width: 90%;
}

.notearea {
    border: 1px solid #EAEAEA;
    padding: 3px;
    width: 92%;
}

.info_cart_title {
    text-align: left;
    width: 30%;
    border-right: 1px dotted #E1E1E1;
    font-size: 12px;
}

.info_address_title {
    border-bottom: 1px solid #EAEAEA;
    font-weight: 600;
    line-height: 30px;
    background-color: #EAEAEA
}

.combo {
    min-width: 200px;
    border: 1px solid #EAEAEA;
    line-height: 30px;
    height: 30px;
}

.border_righta {
    text-align: left;
    vertical-align: middle;
    border: 1px solid #EAEAEA;
    padding: 5px;
}

.border_xm {
    text-align: left;
    vertical-align: middle;
    border: 1px solid #EAEAEA;
}

.bg_xacnhan1 {
    border: 1px solid #EAEAEA;
    text-align: center
}

.bg_xacnhan_sms {
    background: none !important;
    background-color: #666
}

.subtitle-1 {
    padding-left: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}

.voucher {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
}

.voucher input {
    color: #000;
}

.t-right {
    text-align: right;
}

.t-left {
    text-align: left;
}

/*Path.....................*/
.path a:hover {
    color: #01DF74 !important;
}

.path a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 13px;
    line-height: 36px;
    color: white;
    padding: 0 10px 0 30px;
    background: #666;
    background: linear-gradient(#e83339, #ED1C24);
    position: relative;
}

.path a:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: -18px;
    width: 36px;
    height: 36px;
    transform: scale(0.707) rotate(45deg);
    -webkit-transform: scale(0.707) rotate(45deg);
    -moz-transform: scale(0.707) rotate(45deg);
    z-index: 1;
    background: #666;
    background: linear-gradient(135deg, #e83339, #ED1C24);
    box-shadow: 2px -2px 0 2px rgb(255, 255, 255), 3px -3px 0 2px rgba(239, 117, 121, 0.65);
    border-radius: 0 5px 0 50px;
}

.path {
    margin-top: 20px;
    margin-bottom: 30px;
}

/*--/contact--*/

h3.tittle-w3layouts {
    font-size: 3em;
}

.contact_grid_right {
    padding-top: 4em;
}

.fa-map,
.fa-envelope,
.fa-mobile-alt {
    font-size: 40px;
    color: #FA8258;
}

.contact_grid_right {
    width: 100%;
}

p.sub {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.7em;
}

.contact_left_grid label {
    color: #313233;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    font-weight: 500;
}

.contact_grid_right input[type="text"],
.contact_grid_right input[type="email"],
.contact_grid_right textarea {
    outline: none;
    padding: 10px 15px;
    font-size: 14px;
    color: #777;
    background: #f7f7f7;
    width: 100%;
    letter-spacing: 1px;
    border: 1px solid #ebeeef;
}

.contact_grid_right textarea {
    min-height: 150px;
    margin: 9px 0px 20px 0px;
    margin-bottom: 20px;
    resize: none;
}

.contact_grid_right input[type="submit"] {
    outline: none;
    font-size: 14px;
    color: #000000;
    background: #ECF6CE;
    border: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 500;
    cursor: pointer;
}

.contact_grid_right input[type="submit"]:hover {
    background: #58FAAC;
}

.contact-map {
    margin: 60px 0px 60px 0px;
}

.contact-map iframe {
    width: 100%;
    height: 350px;
    border: 10px solid #ebeeef;
}

.address-right a {
    color: #2a8490;
}

.address-right p {
    color: #2a8490;
}

.address-info {
    background: #f7f7f7;
    border: 1px solid #A9F5E1;
    padding: 3em 1em;
}

/*-- //contact--*/

/* About Us */
.about-desc p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/*Padding margin*/
.mt-30 {
    margin-top: 30px
}

.pt-100 {
    padding-top: 100px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-30 {
    margin-bottom: 30px
}

.ptb-100 {
    padding: 100px 0
}


/* img */
.sidebar-img img {
    width: 100%;
}

/* Read more */
.return-customer-btn {
    color: #151515;
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    margin-top: 9px;
    padding: 10px 17px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
    cursor: pointer;
    border-radius: 6px;
}

.return-customer-btn {
    background: #82FA58;
}

.return-customer-btn:hover {
    background: #E62E04;
    color: #fff !important;
}

/* . Team
/*----------------------------------------*/
.about-title {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
}

.about-title-team {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
}

.aos {
    text-align: center;
    font-size: 11px;
}

.team-img {
    position: relative;
}

.single-team {
    background: #f1f1f1 none repeat scroll 0 0;
    border-radius: 10px;
}

.team-info {
    padding: 15px;
}

.team-link {
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 70%;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    width: 100%;
    z-index: 5;
    background: #fff;
    padding: 5px;
}

.team-link p {
    display: inline-block;
    margin: 0 10px;
    color: #E62E04;
    font-size: 15px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.team-link p:hover {
    color: #222222;
}

.single-team:hover .team-link {
    top: 50%;
    opacity: 1;
}

.team-info h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2px;
}

.skill-progress {
    overflow: hidden;
    padding-top: 30px;
}

.progress {
    border-radius: 2px;
    height: 5px;
    margin-bottom: 50px;
    overflow: visible;
    position: relative;
}

.progress .skill-title {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    text-transform: uppercase;
    top: -28px;
}

.progress .progress-bar {
    background: #2ECCFA none repeat scroll 0 0;
    border-radius: 2px 0 0 2px;
    height: 5px;
}

.skill-progress .progress:last-child {
    margin-bottom: 0;
}

.ht-work-text>h5 a {
    color: #232323;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.ht-about-work {
    margin-bottom: 12px;
    position: relative;
}

.ht-about-work:last-child {
    margin: 0;
}

.ht-about-work>span {
    background: #82FA58 none repeat scroll 0 0;
    border-radius: 50%;
    color: #7d7d7d;
    display: block;
    float: left;
    height: 42px;
    line-height: 43px;
    margin-top: 3px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 42px;
}

.ht-about-work:hover>span {
    background: #848484 none repeat scroll 0 0;
    color: #ffffff;
}

.ht-work-text {
    overflow: hidden;
    padding-left: 10px;
}

.ht-work-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* About Us End */


.fa-square {
    margin-right: 5px;
}

.header-cart {
    display: inline-block;
}

.bx-wrapper .bx-viewport {
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.bxslider li {
    float: left;
    position: relative;
    width: 170px;
    margin-right: 27px;
    padding: 30px;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}