
/* . Breadcrumb CSS (trùng about)
/*----------------------------------------*/
.breadcrumb-area .breadcrumb {
  background:#f8f8f8;
  margin-bottom: 0;
  padding: 16px 15px;
}
.breadcrumb li a {
    color: #E62E04;
    font-size: 15px;
    margin-right: 5px;
}
/*--/contact--*/
h3.tittle-w3layouts{
  font-size: 3em;
}

.contact_grid_right{
	padding-top:4em;
}
.far,.fas{
  font-size: 40px;
  color: #FA8258;
}
.contact_grid_right {
    width: 100%;
}
p.sub {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.7em;
}
.contact_left_grid label {
    color: #313233;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85em;
    font-weight: 500;
}
.contact_grid_right input[type="text"],
.contact_grid_right input[type="email"],
.contact_grid_right textarea {
    outline: none;
    padding: 10px 15px;
    font-size: 14px;
    color: #777;
    background: #f7f7f7;
    width: 100%;
    letter-spacing: 1px;
	border: 1px solid #ebeeef;
}
.contact_grid_right textarea {
    min-height: 150px;
    margin: 0.3em 0em;
    resize: none;
}

.contact_grid_right input[type="submit"] {
	outline: none;
    font-size: 14px;
    color: #000000;
    background: #ECF6CE;
    border: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
	font-weight:500;
	cursor: pointer;
}

.contact_grid_right input[type="submit"]:hover {
    background: #58FAAC;
}
.contact-map {
  margin: 0px 150px 80px 150px;
}
.contact-map iframe {
    width: 100%;
    height: 350px;
    border: 10px solid #ebeeef;
}

.address-right a {
    color: #2a8490;
}
.address-right p {
    color: #2a8490;
}
.address-info {
    background: #f7f7f7;
    border: 1px solid #A9F5E1;
    padding: 3em 1em;
}
/*-- //contact--*/
